//! **************************************************************************
// Written by: Map P.20131013 on Wed Jul 22 00:55:00 2015
//! **************************************************************************

SCHEMATIC START;
COMP "RX" LOCATE = SITE "N17" LEVEL 1;
COMP "TX" LOCATE = SITE "N18" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "an<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "bcd<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "bcd<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "bcd<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "bcd<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "bcd<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "bcd<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "bcd<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "bcd<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "button" LOCATE = SITE "C9" LEVEL 1;
COMP "resetk" LOCATE = SITE "B8" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "T5" LEVEL 1;
TIMEGRP clk = BEL "cnt_clk_0" BEL "peri1/RX_buf_in_tag_3" BEL
        "peri1/RX_buf_in_tag_2" BEL "peri1/RX_buf_in_tag_1" BEL
        "peri1/RX_buf_in_tag_0" BEL "peri1/TX_buf_out_tag_3" BEL
        "peri1/TX_buf_out_tag_2" BEL "peri1/TX_buf_out_tag_1" BEL
        "peri1/TX_buf_out_tag_0" BEL "peri1/flag_1" BEL "peri1/flag_0" BEL
        "peri1/TX_DATA_7" BEL "peri1/TX_DATA_6" BEL "peri1/TX_DATA_5" BEL
        "peri1/TX_DATA_4" BEL "peri1/TX_DATA_3" BEL "peri1/TX_DATA_2" BEL
        "peri1/TX_DATA_1" BEL "peri1/TX_DATA_0" BEL "peri1/re/count_16" BEL
        "peri1/re/count_15" BEL "peri1/re/count_14" BEL "peri1/re/count_13"
        BEL "peri1/re/count_12" BEL "peri1/re/count_11" BEL
        "peri1/re/count_10" BEL "peri1/re/count_9" BEL "peri1/re/count_8" BEL
        "peri1/re/count_7" BEL "peri1/re/count_6" BEL "peri1/re/count_5" BEL
        "peri1/re/count_4" BEL "peri1/re/count_3" BEL "peri1/re/count_2" BEL
        "peri1/re/count_1" BEL "peri1/re/count_0" BEL "peri1/se/count_17" BEL
        "peri1/se/count_16" BEL "peri1/se/count_15" BEL "peri1/se/count_14"
        BEL "peri1/se/count_13" BEL "peri1/se/count_12" BEL
        "peri1/se/count_11" BEL "peri1/se/count_10" BEL "peri1/se/count_9" BEL
        "peri1/se/count_8" BEL "peri1/se/count_7" BEL "peri1/se/count_6" BEL
        "peri1/se/count_5" BEL "peri1/se/count_4" BEL "peri1/se/count_3" BEL
        "peri1/se/count_2" BEL "peri1/se/count_1" BEL "peri1/se/count_0" BEL
        "peri1/se/data_7" BEL "peri1/se/data_6" BEL "peri1/se/data_5" BEL
        "peri1/se/data_4" BEL "peri1/se/data_3" BEL "peri1/se/data_2" BEL
        "peri1/se/data_1" BEL "peri1/se/data_0" BEL "d1/count_24" BEL
        "d1/count_23" BEL "d1/count_22" BEL "d1/count_21" BEL "d1/count_20"
        BEL "d1/count_19" BEL "d1/count_18" BEL "d1/count_17" BEL
        "d1/count_16" BEL "d1/count_15" BEL "d1/count_14" BEL "d1/count_13"
        BEL "d1/count_12" BEL "d1/count_11" BEL "d1/count_10" BEL "d1/count_9"
        BEL "d1/count_8" BEL "d1/count_7" BEL "d1/count_6" BEL "d1/count_5"
        BEL "d1/count_4" BEL "d1/count_3" BEL "d1/count_2" BEL "d1/count_1"
        BEL "d1/count_0" BEL "myclk" BEL "peri1/TX_complete" BEL "peri1/TX_EN"
        BEL "peri1/re/RX_STATUS" BEL "peri1/re/enable" BEL
        "peri1/re/RX_DATA_0" BEL "peri1/re/RX_DATA_1" BEL "peri1/re/RX_DATA_3"
        BEL "peri1/re/RX_DATA_4" BEL "peri1/re/RX_DATA_2" BEL
        "peri1/re/RX_DATA_5" BEL "peri1/re/RX_DATA_6" BEL "peri1/re/RX_DATA_7"
        BEL "peri1/se/TX" BEL "peri1/se/enable" BEL "d1/key_o_temp" BEL
        "d1/key_m" BEL "clk_BUFGP/BUFG" BEL "d1/Mshreg_key_i_t2" BEL
        "d1/key_i_t2" BEL "peri1/Mram_RX_buffer21/SP" BEL
        "peri1/Mram_RX_buffer21/DP" BEL "peri1/Mram_RX_buffer22/SP" BEL
        "peri1/Mram_RX_buffer22/DP" BEL "peri1/Mram_RX_buffer1_RAMA_D1" BEL
        "peri1/Mram_RX_buffer1_RAMA" BEL "peri1/Mram_RX_buffer1_RAMB_D1" BEL
        "peri1/Mram_RX_buffer1_RAMB" BEL "peri1/Mram_RX_buffer1_RAMC_D1" BEL
        "peri1/Mram_RX_buffer1_RAMC" BEL "peri1/Mram_RX_buffer1_RAMD_D1" BEL
        "peri1/Mram_RX_buffer1_RAMD";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
SCHEMATIC END;

